includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    phpVersion: 80300

    paths:
        - .

    excludePaths:
        - vendor
        - node_modules (?)
        - build (?)
        - tests

    bootstrapFiles:
        - phpstan-bootstrap.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php

    # WordPress global functions / variables handled by the extension
    dynamicConstantNames:
        - ABSPATH
        - PAYJP_FOR_WC_VERSION
        - PAYJP_FOR_WC_FILE
        - PAYJP_FOR_WC_DIR
        - PAYJP_FOR_WC_URL
        - PAYJP_API_BASE
